.progressBar{

    margin-inline: 20px;
    margin-block: 10px;
    height: 14px !important;
    color: red !important;
}

.progressTitle{
    margin-inline: 20px;
    margin-block: 10px;
    font-size: 12px;
    color: rgb(221, 221, 221);
    display: flex;
    justify-content: space-between;
}   